<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-casc-vel" value="https://nuget.pkg.github.com/FredoqCorp/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="github-casc-vel">
      <package pattern="CascVel.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
